$color-red-primary: #E62323;
$color-red-secondary: #A71515;

$color-white: #FFFFFF;

$color-black-primary: #272727;
$color-black-secondary: #5B5B5B;

$color-gray-primary: #ECECEC;
$color-gray-secondary: #D4D4D4;

$color-green-primary: #42AC69;
$color-green-secondary: #2C7346;

$color-facebook: #2977FF;
$color-twitter: #4AC7FF;
$color-instagram: #F83DD2;
$color-linkedin: #115FE5;

$color-heading: $color-black-primary;
$color-body: $color-black-secondary;